
$main-font: 'Arial', sans-serif;

// Screen Variables

$xs: '(max-width: 480px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1220px)';
$xl: '(max-width: 1380px)';
$xxl: '(max-width: 1600px)';


