html {
  scroll-behavior: smooth;
}

body {
  font: 400 32px/1.2 $main-font;
  background-color: #FFFFFF;
  color: #02628C;
  letter-spacing: -0.03em;

  &.modal_open {
    overflow: hidden;
    height: 100%;
  }
}

.wrapper {
  overflow: hidden;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.d-flex {
  display: flex;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.color-light-blue {
  color: #00ADF1;
}

.color-white {
  color: #FFFFFF;
}

.main {
  flex: 1 0 auto;
  padding-top: 105px;
}

.section {
  padding-bottom: 120px;
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 60px;
}

.dynamic-content {
  p {
    margin-bottom: 1.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
  }

  a {

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 40px;
    margin-bottom: 40px;

    > li {
      position: relative;
      padding-left: 16px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #02628C;
        left: 0;
        top: 16px;
      }
    }
  }

  ol {
    position: relative;
    padding-left: 60px;
    line-height: 1.5;
    color: #02628C;
    counter-reset: list;
    margin-bottom: 40px;

    li:before {
      position: absolute;
      left: 25px;
      counter-increment: list;
      content: counters(list, '. ') '.';
    }
  }

  blockquote {
    position: relative;

    color: #FFFFFF;
    padding: 30px 0;
    margin-bottom: 60px;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100vw;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #00ADF1;
      z-index: -1;
    }
  }
}

.page {
  padding-top: 120px;
  padding-bottom: 120px;

  &__title {
    font-size: 64px;
    margin-bottom: 60px;
    text-align: center;
  }

  .section-banner {
    .part_left {
      width: 50%;
      padding-right: 24px;
    }

    &__slogan {
      width: auto;
      max-width: 100%;
    }

    .wrap-img {
      position: absolute;
      width: 50vw;
      left: 50%;
      height: 100%;
      max-width: 960px;
    }

  }

  &.page-bg {
    .page__title {
      color: #FFFFFF;
    }

    .breadcrumb {
      color: #FFFFFF;

      &__item:before {
        filter: brightness(0) invert(1);
      }
    }
  }

  .pagination {
    max-width: 872px;
    width: 100%;
    margin: 0 auto;
    text-align: right;

    .prev,
    .next {
      display: inline-block;
      width: 27px;
      height: 19px;
      background-image: url(../assets/img/arrow-blue.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .next {
      transform: rotate(180deg);
    }
  }
}

.page-bg {
  background-image: url("../assets/img/bg-page2-1.png"),
  linear-gradient(358.96deg, #FFFFFF 8%, #01A9F0 92%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@include respond-to($lg) {
  body {
    font: 400 26px/1.2 $main-font;
  }
  .section__title,
  .section-banner__slogan {
    font-size: 48px;
  }
  .page__title {
    font-size: 58px;
  }
  .charity__list .post__item {
    max-width: 740px;
  }
  .main {
    padding-top: 97px;
  }
}

@include respond-to($md) {
  body {
    font: 400 22px/1.2 $main-font;
  }
  .section__title,
  .page__title {
    font-size: 45px;
  }
  .page{
    padding-bottom: 80px;
  }
}

@include respond-to($xs) {
  .page {
    padding-bottom: 60px;

    .section-banner {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .pagination .prev,
    .pagination .next {
      width: 21px;
      height: 14px;
    }
  }
  .page-bg {
    background-position: 11% top;
    background-size: auto;
  }
  .section{
    padding-bottom: 60px;
    &__title{
      font-size: 32px;
      margin-bottom: 30px;
    }
  }
  .dynamic-content{
    blockquote{
      padding: 15px 0;
      margin-bottom: 30px;
    }
  }
}




