  //awards-page

.awards-list {
  max-width: 1118px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
}

.awards-list__item {
  width: 50%;
  padding: 0 12px;
  margin-bottom: 40px;
}

.awards__item {
  display: block;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 30px 30px 60px;
}

.awards__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.awards__caption {
  font-size: 32px;
}