.mission-page {
  .section-banner {
    .wrap-img {
      min-height: 403px;

      &:before,
      &:after {
        position: absolute;
        content: '';
      }

      &:before {
        background-image: url(../assets/img/snowflake.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 216px;
        width: 30%;
        height: 216px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      &:after {
        bottom: 0;
        top: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(180deg, rgba(91, 189, 223, 0.9) 0%, rgba(1, 169, 240, 0.9) 100%);
      }
    }

    .container {
      min-height: 403px;
    }
  }

  .page__title {
    margin-bottom: 0;
  }
}

.mission-card {
  padding: 60px 0;
  margin-bottom: 80px;

  &:nth-child(even) {
    padding-top: 76px;
    position: relative;
    background-image: linear-gradient(88.96deg, #FFFFFF 0.89%, #01A9F0 99.19%);

    h3 {
      color: #02628C;
    }

    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: .5;
      background-image: url(../assets/img/bg-card-val.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }


  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .container {
    display: flex;
    position: relative;
    z-index: 1;
  }

  &__icon {
    width: 22%;
    min-height: 254px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    flex-shrink: 0;
  }

  &__content {
    padding-left: 24px;

    h3 {
      font-size: 48px;
      color: #00B2F4;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include respond-to($lg) {
  .mission-card {
    margin-bottom: 0;
  }
  .mission-card__content h3 {
    font-size: 42px;
  }

  .mission-card__content {
    padding-left: 18px;
  }
}

@include respond-to($md) {
  .mission-page {
    .section-banner {
      text-align: center;

      .container {
        flex-wrap: wrap;
      }

      .part_left {
        width: 100%;
      }

      img {
        position: relative;
      }

      .wrap-img {
        width: 100%;
        min-height: 0;
        margin-bottom: 60px;
        position: relative;
        overflow: hidden;
        left: 0;
        order: -1;
      }
    }

    .section-banner__slogan {

      font-size: 32px;
    }
  }
  .mission-card {
    padding-bottom: 30px;
  }
  .mission-card:nth-child(even) {
    padding-bottom: 60px;
    padding-top: 50px;
  }
}

@include respond-to($xs) {
  .mission-page {
    .section-banner__slogan {
      font-size: 32px;
    }

    .section-banner .wrap-img {
      margin-bottom: 30px;
    }
  }
  .mission-card {
    padding-top: 30px;
    padding-bottom: 60px;
    .container {
      flex-direction: column;
      text-align: center;
    }
  }
  .mission-card__content {
    padding-left: 0;

    P {
      margin-bottom: 26px;
    }

    h3 {
      font-size: 30px;
    }
  }
  .mission-card__icon {
    width: 100%;
    max-width: 290px;
    margin: 0 auto 30px;
    min-height: 155px;
    background-position: center;
  }
}