.single-article{
.breadcrumb__item{
  &.active {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
  }
}
}

.slider-gallery{
  max-width: 1092px;
  width: 100%;
}

.related-post-list{
  display: flex;
}