.single-article {
  .container {
    overflow: hidden;
  }

  .breadcrumb__item {

    &.active {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .section__title {
    margin-bottom: 40px;
    text-align: left;
  }
}

.article {
  margin: 0 auto 120px;
  font-weight: 400;

  .section__title {
    text-align: left;
    letter-spacing: -0.04em;
    margin-bottom: 30px;
  }

  &__banner {
    padding-bottom: 60px;
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 51.25%;
  }

  &__banner-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.post-data {
  position: relative;
  font-size: 24px;
  padding-bottom: 60px;
  padding-left: 57px;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../assets/img/calendar.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: -12px;
  }
}

.section-video {
  background-image: url(../assets/img/bg-section-video.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0;
  margin-bottom: 60px;
}

.video {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 55%;
  background-color: #000000;

  iframe,
  &__poster {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section-gallery {
  background: linear-gradient(180deg, #0087B5 0%, #01A9F0 100%);
  padding: 60px 0;
  margin-bottom: 120px;

  .section__title {
    color: #FFFFFF;
  }
}

.slider-gallery {
  padding-bottom: 60px;

  &__wrap-img {
    width: 100%;
    max-width: 533px;
    position: relative;
    padding-top: 95.25%;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/img-gal-overlay.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;

  }
}

.related-post-list {
  display: flex;
}

.related-post__link {
  display: block;

  &:hover {
    .post__title {
      color: #00ADF1;
      transition: .35s;
    }
  }
}

.related-post__item {
  width: 25%;

  .post {
    max-width: none;
  }
}

@media only screen and (min-width: 1441px) {
  .slider-gallery__wrap-img {
    max-width: 100%;
  }
}
@media only screen and (orientation: landscape) and (max-height: 610px) {
  .video {
    width: 80%;
    padding-top: 45%;
  }
}

@include respond-to($md) {
  .related-post-list {
    flex-wrap: wrap;
  }
  .related-post__item {
    width: 50%;
    margin-bottom: 30px;
  }
  .article {
    margin-bottom: 80px;
  }
  .section-gallery {
    margin-bottom: 80px;
  }
}

@include respond-to($sm) {
  .article {
    margin-bottom: 60px;
  }
  .section-gallery {
    margin-bottom: 60px;
  }
}

@include respond-to($xs) {
  .article .section__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }
  .article {
    margin-bottom: 30px;
  }
  .article__banner {
    padding-bottom: 20px;
  }
  .post-data {
    font-size: 12px;
    padding-bottom: 33px;
    padding-left: 30px;

    &:before {
      width: 20px;
      height: 20px;
      top: -5px;
    }
  }
  .section-video {
    margin-bottom: 30px;
    padding: 30px 0;
    background: linear-gradient(180deg, #0087B5 0%, #01A9F0 100%);
  }
  .section-gallery {
    padding: 30px 0;
  }
  .slider-gallery {
    padding-bottom: 40px;
  }
  .slider-gallery__wrap-img {
    padding-top: 98.25%;
  }
  .single-article .section__title {
    margin-bottom: 30px;
  }
  .related-post__item {
    width: 100%;
  }
}
