.social-assistance {
  .description {
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 120px;
  }

  .section-banner {
    .container {
      min-height: 567px;
    }
  }
}

.referral-list {
}

.referral {
  text-align: center;
  padding-bottom: 120px;

  &:last-child {
    padding-bottom: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 516px;
    max-width: 1760px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px 15px;
    color: #FFFFFF;
    z-index: 1;

    h2 {
      position: relative;
      font-size: 102px;
      line-height: 1.147;
      z-index: 1;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    &:before {
      background-image: url(../assets/img/ref-overlay.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }

    &:after {
      background-color: #00ADF1;
      opacity: .55;
    }
  }
}

.referral-card {
  font-weight: 400;
  padding: 60px 0 0;

  h3 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 60px;
  }
}

@include respond-to($lg) {
  .social-assistance .description {
    font-size: 30px;
  }
  .referral__header h2 {
    font-size: 66px;
  }
  .referral-card {
    h3 {
      font-size: 30px;
    }
  }
}

@include respond-to($md) {
  .social-assistance {
    .description {
      font-size: 25px;
      padding-bottom: 80px;
    }
  }
  .referral {
    text-align: center;
    padding-bottom: 80px;
  }
  .referral__header {
    min-height: 346px;
  }
  .referral-card h3 {
    margin-bottom: 30px;
  }
}

@include respond-to($sm) {
  .social-assistance {
    .section-banner .container {
      min-height: 434px;
    }

    .section-banner__slogan {
      font-size: 28px;
    }
  }

  .referral__header h2 {
    font-size: 50px;
  }
}

@include respond-to($xs) {
  .social-assistance {
    .section-banner .container {
      min-height: 255px;
    }

    .description {
      font-size: 22px;
      padding-bottom: 60px;
      padding-top: 0;
    }

    .section-banner__slogan {
      font-size: 22px;
    }
  }

  .referral__header {
    min-height: 111px;
    padding-bottom: 30px;

    h2 {
      font-size: 28px;
    }
  }
  .referral {
    padding-bottom: 60px;
  }
  .referral-card {
    padding-top: 30px;
    padding-bottom: 0;

    h3 {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
}

