@font-face {
	font-family: 'Arial';
	src: url('ArialMT.eot');
	src: local('Arial'), local('ArialMT'),
		url('ArialMT.eot?#iefix') format('embedded-opentype'),
		url('ArialMT.woff') format('woff'),
		url('ArialMT.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('Arial-BoldMT.eot');
	src: local('Arial Bold'), local('Arial-BoldMT'),
		url('Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
		url('Arial-BoldMT.woff') format('woff'),
		url('Arial-BoldMT.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
