.footer {
  margin-top: auto;
  color: #FFFFFF;
  flex-shrink: 0;

  .text {
    margin-bottom: 60px;
    font-weight: 700;
  }

  .part_left {
    width: 58%;
    padding: 60px 0;
  }

  .part_right {
    position: relative;
    width: 42%;
    padding-top: 30%;
  }

  &-top {
    background-color: #00ADF1;

    .wrap-img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 45vw;
      background-image: url(../assets/img/donate-bg3.png);
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 50%;
    }
  }

  &-bottom {
    position: relative;
    background-color: #02628C;
    font-weight: 400;
    font-size: 24px;
    padding: 60px 0;

    .container {
      display: flex;
    }
  }

  &__logo {
    display: inline-block;
    max-width: 310px;
    margin-right: 20px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  &__part {
    padding-left: 24px;
    max-width: 314px;
  }

  &__nav {
    margin-left: auto;
    min-width: 275px;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__menu {
    padding-left: 20px;
  }

  .menu__item {
    color: #FFFFFF;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
  }

  .menu__link {
    padding: 8px 0;
    transition: .5s;

    &:hover,
    &:focus {
      -webkit-text-stroke:initial;
      text-stroke:initial;
      text-decoration: underline;
    }
  }

  .wrap-contacts {
    display: flex;
    margin-left: auto;
  }

  .contacts {
    &__item {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 46px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: block;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &__icon {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      width: 28px;
      height: 28px;
      z-index: 1;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@include respond-to($xxl) {
  .footer-top .wrap-img {
    background-size: cover;
  }
}

@include respond-to($xl) {
  .footer__logo {
    max-width: 260px;
  }
}

@include respond-to($lg) {
  .btn_lg {
    font-size: 30px;
  }
  .footer {
    &__logo {
      max-width: 210px;
      margin-bottom: 20px;
    }
  }
  .footer-bottom .container {
    flex-wrap: wrap;
  }
  .wrap-contacts {
    width: 100%;
    margin: 0;
  }
  .footer__part {
    max-width: 33.33%;
    flex-grow: 1;
  }
  .footer__nav {
    min-width: 0;
  }
}

@include respond-to($md) {
  .footer {
    .part_left {
      width: 50%;
    }

    .btn_lg {
      font-size: 20px;
      border-radius: 5px;
      padding: 17px 40px;
    }

    .part_right {
      width: 50%;
    }

    .wrap-img {
      width: 50vw;
      background-size: contain;
    }

    .menu__item {
      font-size: 19px;
    }
  }
  .footer-bottom {
    font-size: 19px;
  }
}

@include respond-to($sm) {
  .footer {
    &__logo {
      margin-left: auto;
      margin-right: auto;
    }

    &__part {
      max-width: 100%;
      text-align: center;
      width: 100%;
      padding-left: 0;
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .text {
      margin-bottom: 30px;
    }

    .part_left {
      padding: 38px 0;
    }

    .btn_lg {
      padding-left: 10px;
      padding-right: 10px;

    }

    .menu__item {
      text-align: center;
    }
  }
  .footer__menu {
    padding-left: 0;
  }
  .wrap-contacts {
    flex-wrap: wrap;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 620px) {
  .footer {
    .d-flex {
      flex-direction: column;
    }

    .part_left {
      width: 100%;

    }

    .part_right {
      width: 100%;
      padding-top: 97.25%;
    }

    .wrap-img {
      width: 100vw;
      background-size: contain;
    }
  }
}
