.footer {
  margin-top: auto;
  color: #FFFFFF;

  .text {
    margin-bottom: 60px;
  }

  .part_right {
    width: 67%;
    padding: 60px 0;
  }

  .part_left {
    width: 40%;
    //height: 100%;

    height: 465px;

    shape-outside: polygon(26% 1%, 100% 0%, 100% 99%, 0% 100%);
    clip-path: polygon(26% 1%, 100% 0%, 100% 99%, 0% 100%);
    shape-margin: 10px;
    float: right;
  }

  &-top {
    font-size: 38px;
    background-color:  #00ADF1;
    background-image: url("../assets/img/donate-bg-2.png");
    background-position: right bottom -72px;
    background-repeat: no-repeat;
    background-size: 41%;
    .container {
      padding-right: 0;

    }
  }

  &-bottom {
    background-color: #02628C;
    font-weight: 400;
    font-size: 24px;
    padding: 60px 0;

    .container {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__logo {
    max-width: 310px;
    margin-right: auto;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  &__part {
    padding-left: 24px;
    max-width: 314px;
    width: 25%;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__menu {
    padding-left: 60px;
  }

  .menu__item {
    color: #FFFFFF;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
  }

  .menu__link {
    padding: 8px 0;
  }

  .contacts {
    &__item {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 46px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__icon {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      width: 28px;
      height: 28px;
      z-index: 1;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
