.section-banner {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.12;
  color: #00ADF1;
  margin-bottom: 120px;
  overflow: hidden;

  .container {
    position: relative;
    min-height: 774px;
    display: flex;
    align-items: center;
  }

  &__text {
    margin-top: 45px;
  }

  &__text:empty {
    display: none;
  }

  &__slogan {
    font-weight: 700;
    font-size: 55px;
    color: #02628C;
  }

  &__wrap-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 100vw;
    object-fit: cover;
  }

  .img-home-banner {
    max-width: 1018px;
  }
}

@media only screen and (min-width: 1441px) {
  .home-banner {
    .section-banner__wrap-img {
      bottom: -30px;
    }
  }
}

@media only screen and (orientation: landscape) and (max-height: 610px) {
  .social-assistance .section-banner .container {
    min-height: 377px;
  }
  .video {
    width: 80%;
    padding-top: 45%;
  }
}

@include respond-to($md) {

  .section-banner {
    &__text {
      font-size: 22px;
    }

  }
}


@include respond-to($xs) {
  .section-banner {
    margin-bottom: 80px;

    .section-banner__text {
      margin-top: 30px;
    }
  }
}

.home-banner {
  position: relative;

  .section-banner__slogan {
    width: 560px;
  }

  .section-banner__wrap-img {
    display: flex;
    padding-left: 420px;
    justify-content: flex-end;

    img {
      position: static;
      margin-left: auto;
    }
  }

  @include respond-to($xl) {
    .container {
      min-height: 586px;
    }
    .img-home-banner {
      max-width: 770px;
    }
  }
  @media only screen and (max-width: 1280px) and (max-height: 610px) {

    .container {
      min-height: 610px;
    }
    .img-home-banner {
      max-width: 865px;
    }
  }

  @include respond-to($lg) {
    .container {
      min-height: 575px;
    }
    .img-home-banner {
      max-width: 605px;
      right: 130px;
    }
    .container {
      min-height: 462px;
    }
  }
  @include respond-to($md) {

    .container {
      min-height: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .section-banner__slogan {
      max-width: none;
      width: 100%;
      text-align: center;
    }

    .section-banner__wrap-img {
      position: relative;
      padding: 0;
      width: 60%;
      margin: 0 auto 60px;
      order: -1;

      img {
        right: 0;
      }
    }


    .img-home-banner {
      width: 100%;
      max-width: none;
    }
  }
  @include respond-to($sm) {
    .section-banner__wrap-img {
      justify-content: center;
    }
  }
  @include respond-to($xs) {
    margin-bottom: 60px;
    .section-banner__wrap-img {
      margin-bottom: 40px;
    }
    .section-banner__slogan {
      font-size: 22px;
    }
  }
}





