.section-valuables {
  padding-bottom: 90px;

  .swiper-wrapper {
    justify-content: space-between;
  }

  .valuables {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    &__card {
      width: 29%;
    }

    &__text {
      font-size: 32px;
      text-align: center;
      color: #00ADF1;
      font-weight: 700;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 198px;
      height: 208px;
      margin: 0 auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@include respond-to($md) {
  .section-valuables {
    .valuables__text {
      font-size: 24px;
    }
  }
}

@include respond-to($sm) {
  .section-valuables {
    padding-bottom: 60px;

    .swiper-wrapper {
      justify-content: flex-start;
    }

    .valuables {
      padding-bottom: 38px;
     &__card{
        width: 100%;
        flex-shrink: 0;
      }
    }

    .swiper-pagination {
      display: block !important;
    }

    .valuables__text {
      font-size: 32px;
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets {
    display: block;
    bottom: 0;
  }

}

@include respond-to($xs) {
.valuables__card{
  width: 100%;
  flex-shrink: 0;
}
}