.section-help {
  padding-bottom: 60px;
}

//slider
.about-helps {
  padding-bottom: 64px;

  .swiper-slide {
    height: auto;
  }

  .post {
    max-width: 465px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 15px 15px;
    color: #FFFFFF;
    text-align: center;
    height: 100%;

    &__thumb {
      min-height: 300px;
      width: 100%;
      border-radius: 0;
      margin-bottom: 30px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      min-height: 276px;
      padding: 0 30px 30px;
      height: 100%;
    }

    &__text {
      font-weight: 400;
      font-size: 22px;
      margin-bottom: 30px;
    }

    &__link {
      display: inline-block;
      text-align: right;
      font-weight: 700;
      font-size: 20px;
      margin-top: auto;
      margin-left: auto;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 1441px) {
  .about-helps {
    .post {
      max-width: 100%;
    }
  }
}

@include respond-to($lg) {
  .about-helps {
    .post {
      margin-left: auto;
      margin-right: auto;
    }

    .post__content {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@include respond-to($sm) {
  .about-helps {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}