//section-partners

.slider-partners {
  padding-bottom: 64px;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

@include respond-to($sm){
  .slider-partners{
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}