.section-news{
  background-image: url(../assets/img/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0;
  .section__title{
    font-weight: 700;
    color: #FFFFFF;
  }
}

.slider-news{
  padding-bottom: 64px;
}

@include respond-to($sm){
  .section-news{
    padding-top: 30px;
  }
}

@include respond-to($sm){

  .slider-news{
    .swiper-pagination{
      display: block!important;
    }
    .swiper-button-next,
    .swiper-button-prev{
      display: none;
    }
  }
}
@include respond-to($xs){
  .section-news{
    background-image: url(../assets/img/bg-news-mob.jpg);
  }
  .section-news{
    padding-top: 23px;
    padding-bottom: 30px;
  }
  .slider-news{
    padding-bottom: 35px;
  }
}