.section-news{
  background-image: url(../assets/img/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0;
  .section__title{
    font-weight: 700;
    color: #FFFFFF;
  }
}

.slider-news{
  padding-bottom: 64px;
}