.section-banner {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.12;
  color: #00ADF1;
  margin-bottom: 120px;
  overflow: hidden;

  .container {
    position: relative;
    min-height: 774px;
    display: flex;
    align-items: center;
  }

  &__text {
    margin-top: 45px;
  }

  &__text:empty {
    display: none;
  }

  &__slogan {
    //max-width: 505px;
    width: 45%;
    font-weight: 700;
    font-size: 55px;
    color: #02628C;
  }

  &__wrap-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 100vw;
    object-fit: cover;
  }

  .img-home-banner {
    right: 0;
    max-width: 1033px;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../assets/img/banner-mask-2.png);
    mask-image: url(../assets/img/banner-mask-2.png);
    filter: sepia(300%) hue-rotate(150deg) saturate(450%);
  }
}

.ui-kit {
  .section-banner {

    &__slogan {
      max-width: 545px;
      width: auto;
    }

    img {
      position: relative;
      display: block;
    }

    .img-home-banner {
      max-width: 1033px;
      -webkit-mask-image: url(../assets/img/banner-mask-2.png);
      mask-image: url(../assets/img/banner-mask-2.png);
      filter: sepia(300%) hue-rotate(150deg) saturate(450%);


      width: 100%;
      height: 100%;
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      transform: translateX(22%);
    }

  }

  .section-banner .container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .section-banner__wrap-img {
    grid-area: 1 / 5 / 6 / 16;
    position: static;

    background: lightblue
  }

  .part_left {
    grid-area: 1 / 1 / 6 / 8;
    width: auto;
  }

  @include respond-to($xxl) {
    .section-banner .img-home-banner {
      transform: translateX(60px);
    }
  }
  @include respond-to($xl) {
    .section-banner .img-home-banner {
      transform: none;
    }
  }

}







