.section-about {
  overflow: hidden;
  background-size: 785px 943px;
  background-position: left -5% bottom -30%;
  background-repeat: no-repeat;

  .btn {
    margin-top: 70px;
  }

  .part_left,
  .part_right {
    width: 50%;
  }

  .section__img {
    position: relative;
    min-height: 820px;
    height: auto;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 24px;
      max-width: 708px;
      width: 50vw;

    }
  }

  .section__content {
    padding-top: 100px;

  }
}

.charity {
  .section__img img{
    right: 24px;
    left: auto;
  }
}

@include respond-to($sm) {
  .section-about {
    text-align: center;

    .section__content {
      max-width: 480px;
      width: 100%;
      margin: 0 auto 0px;
    }

    .d-flex {
      flex-wrap: wrap;
    }
    .part_right,
    .part_left {
      width: 100%;
      order: 2;
    }

    .section__img {
      display: flex;
      justify-content: center;
      order: 1;
      min-height: 0;
      img {
        left: 0;
        width: 60vw;
        position: relative;
      }
    }
  }
}